:root {

}

body {
  margin:0;
  padding:0
}
/* tal vez darles una clase a los items de nav */
ul li a {
  color:rgb(255,131,0);
  text-decoration:none;
}
ul li a:hover {
  cursor:pointer;
  color:rgb(202, 120, 31);
  transition:0.1s;
}